<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/project.css">

</head>

<body>
    <div class = "page_container">    
        <div class="login_form_box">
            <h1>Login page</h1>
            <form method="POST" action="/login">
                Email: <input name="email"/>

                <br/><br/>

                Password: <input name="password"/>

                <br/><br/>

                <button type="submit">submit</button>

            </form>
        </div>
    </div>
</body>

</html>